@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html{
        height: 100%;
}

body {
        width:100%;
        height:100%;
        margin:0;
        padding:0;
        font-family: 'Varela Round', sans-serif;
}

.button{
        background-color:#69B57A;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: 'Varela Round', sans-serif;
        margin: 4px 2px;
        cursor: pointer;
}

.header{
        background-color:#E34756;
        overflow: auto;
}

.headerWrapper{
        margin-left:11%;
        padding-top:2%;
        padding-bottom:2%;
        color: white;
        font-size:500%;
        overflow: auto;
}

.buttonBar{
        background-color:#FF6675;
        overflow: auto;    
}

.buttonBarWrapper{
        margin-left:11%;
        padding-top:2%;
        padding-bottom:2%;
        overflow: auto;
}

.upperWrapper {

        background-color:#FF808C;
        overflow: auto;
}

.upperContentWrapper {
        margin-left:11%;
        padding-top:2%;
        padding-bottom:2%;
        overflow: auto;
}

.upperContentFormWrapper{
        padding-top: 2%;
        padding-bottom: 5%;
        padding-left: 5%;
        padding-right: 5%;
        margin-left: 11%;
        margin-right:11%;
        width: 55%;
        line-height:1.8;
        border: 5px solid #66FF89;
        box-shadow: 5px 10px 10px #676d53;
        background-color:#fff9ff;
        font-size: 120%;
        overflow: auto;
}

.foundTheFloofDataWrapper{
        padding-bottom: 1%;
        padding-left: 1%;
        padding-right: 1%;
        width: 30%;
        line-height:1.2;
        border: 5px solid #66FF89;
        box-shadow: 5px 10px 10px #676d53;
        background-color:#fff9ff;
        overflow: auto;
}

.parallax {
        /* The image used */
        background-image: url("blanketDoggo.JPG");

        /* Full height */
        height: 100%; 

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        }

.content{
        height:1000px;
        fill: blue;
        font-size:36px
}

.findFloofContentWrapper{
	margin-left:5%;
        padding-top:2%;
        padding-bottom:2%;
        overflow: auto;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

.border{
	border: 5px solid #66FF89;
        box-shadow: 5px 10px 10px #676d53;
}

.location_icon{
	color:red;
}

.container {
	position: relative;
}

.centered{
 	position: absolute;
 	left: 50%;
 	top: 50%;
}

.pawprint{
	height: 3%;
	width: 2%;
}
.svg-24px {
  	width: 24px;
  	height: 24px;
}

/*style classes used for location of each building*/
.robinson{
	position: absolute;
	left:27%;
	top: 39%;
}
.library{
	position: absolute;
	left: 36%;
	top: 43%;
}
.studentCenter{
        position: absolute;
        left: 42%;
        top: 40%;
}
.wellnessCenter{
        position: absolute;
        left: 46%;
        top: 37%;
}
.savitz{
        position: absolute;
        left: 33%;
        top: 46%;
}
.science{
        position: absolute;
        left: 29%;
        top: 48%;
}
.westby{
        position: absolute;
        left: 26%;
        top: 53%;
}
.bozorth{
        position: absolute;
        left: 33%;
        top: 67%;
}
.hawthorne{
        position: absolute;
        left: 32%;
        top: 59%;
}
.business{
        position: absolute;
        left: 23%;
        top: 56%;
}
.engineering{
        position: absolute;
        left: 14%;
        top: 35%;
}
.bunce{
        position: absolute;
        left: 40%;
        top: 69%;
}
.james{
        position: absolute;
        left: 25%;
        top: 27%;
}
.wilson{
        position: absolute;
        left: 22%;
        top: 40%;
}
.recCenter{
        position: absolute;
        left: 33%;
        top: 28%;
}

